<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="lib/angular.min.js"></script>
</head>
<body>
<div ng-controller="myCtrl">
A<input type="text" ng-model="valA"/>
B<input type="text" ng-model="valB"/>
</div>

<script>
    var app = angular.module("myApp",[]);
    app.controller("myCtrl",["$scope","addValues",function($scope,addValues){
              console.log("from controller");
        console.log(addValues.addValues(15,4));
        console.log(addValues.mulValues(15,4));
    }]);
    app.factory("addValues",function(){
        console.log("from service");
        var addValues= {

             addValues: function (v1, v2) {
                return v1 + v2;

            },
              mulValues: function (v1, v2) {
                  return v1 * v2;

              }
           }
        return addValues;

    });
</script>

</body>
</html>